<div class="card-trip-full">
  <img src="https://source.unsplash.com/1600x900/?appartement" />
  <div class="card-trip-infos-full">
    <div>
      <h2><%= @flat.name %></h2>
      <p><%= @flat.description %></p>
      <p>For <%= @flat.number_of_guests %> people.</p>
    </div>
    <h2 class="card-trip-pricing"><%= @flat.price_per_night %> RPS</h2>
  </div>
</div>
